.foto-radius{
    border-radius: 10% 30% 50% 70%;
}

.foto-radius-inverso {
    border-radius: 30% 10% 70% 50%;
}

.max-height{
    max-height: 350px;
    max-width: 350px;
    margin: auto;
}

.card {
    border: none !important;
}