.servicio{
  
    background-color: chartreuse;
}

.servicios{
  width: 100%;
  background-color: darkblue;
  margin: auto;
}


.pading-0{
  padding: 0 !important;
}

.wave{
  margin: 0 !important;
  padding:0 !important;
}

